extends layout

block content
    h1= title
    form(name="unsplash-search", method="post")
        div.input
            span.label Search
            input(type="text", name="keyword")
            input(type="hidden", name="page",value="3")
            input(type="hidden", name="perpage",value="5")
        div.actions
            input(type="submit", value="add")